

@{
    ViewBag.Title = "Kontakt";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<a href="@Url.Action("Index","Home")">POWRÓT</a>
<div class="post-content">
    <p style="text-align: center;"><strong>Polityka prywatności</strong></p><br/>
    <ol>
        <li>Administratorem danych osobowych, osób których dane dotyczą w procesach przetwarzania – proces rekrutacji, przetwarzania danych pracowników, obsługi klientów, kontroli dostępu – jest firma Smart nieruchomości s.c. Zarządzanie Nieruchomościami Anna Kowalska, ul. Lipowa 1, 15-123 Białystok.</li>
        <li>Bezpośredni kontakt z inspektorem danych osobowych pod adresem: <a href="mailto:dpo@domkrak.pl">dpo@smartnieruchomosci.pl</a></li>
        <li>Przetwarzanie danych osobowych odbywa się na zasadach określonych w Rozporządzeniu Parlamentu Europejskiego i Rady (UE) 2016/679 z dnia 27.04.2016, ustawie z dnia 18.07.2002 o świadczeniu usług drogą elektroniczną (Dz.U. 2002 nr 144 poz. 1204 z zm.) oraz postanowieniami niniejszej polityki, ustawie o ochronie danych osobowych z dn. 29.08.1997.</li>
        <li>Usługodawca świadczy usługi drogą elektroniczną w formie formularzy umożliwiających wprowadzenie danych, w tym danych osobowych. Udostępnienie danych osobowych ma charakter dobrowolny, a ich przetwarzanie następuje w celu kontaktu, złożenia oferty, przyjęcia, potwierdzenia oraz realizacji usługi. Podane dane są przetwarzane na podstawie wyrażonej przez Klienta zgody. Dane przekazane administratorowi  nie będą dalej udostępniane.</li>
        <li>Każda osoba, której dane dotyczą, przysługuje prawo do edycji, wglądu, informacji o źródle pozyskania, sprzeciwu na dalsze przetwarzanie, przeniesienia do innego administratora.</li>
        <li>Dane osobowe nie podlegają profilowaniu i nie są udostępnianie państwom trzecim bez zgody ich właściciela.</li>
        <li>Każda osobowa, której dane dotyczą posiada prawo wniesienia skargi do Prezesa Urzędu Ochrony Danych gdy uzna, iż przetwarzanie danych osobowych narusza przepisy ogólnego rozporządzenia o ochronie danych osobowych z dnia 27.04.2016.</li>
    </ol><br /><br />
    <p style="text-align: center;"><strong>Regulamin świadczenia usług drogą elektroniczną</strong></p><br />
    <ol>
        <li>
            Przetwarzanie danych osobowych Usługobiorców korzystających z usług świadczonych drogą elektroniczną przez Usługodawcę może dotyczyć:
            <ol>
                <li>Imion i nazwisk</li>
                <li>Adres nieruchomości</li>
                <li>Telefony kontaktowe</li>
                <li>Adres e-mail</li>
                <li>Temat i treść wiadomości</li>
                <li>Zgód na przetwarzanie danych osobowych.</li>
            </ol>
        </li>
        <li>Usługobiorca zobowiązanych jest do korzystania ze strony internetowej Usługodawcy w sposób zgodny z prawem z poszanowaniem dóbr osobistych oraz praw autorskich i własności intelektualnej Usługodawcy oraz osób trzecich.</li>
        <li>
            Usługobiorca zobowiązany jest do przestrzegania zakazu nadużywania środków komunikacji elektronicznej oraz nie dostarczanie przez lub do systemów informatycznych Usługodawcy następujących treści:
            <ol>
                <li>Powodujące zachwianie pracy lub przeciążenie systemów informatycznych Usługodawcy lub innych podmiotów biorących bezpośredni lub pośredni udział w świadczeniu usług drogą elektroniczną.</li>
                <li>Naruszają dobra osób trzecich, ogólne przyjęte normy społeczne lub są niezgodne z powszechnie obowiązującymi przepisami prawa.</li>
            </ol>
        </li>
        <li>Usługodawca zastrzega sobie prawo do prowadzenia prac konserwatorskich systemu teleinformatycznego, mogących powodować utrudnienia lub uniemożliwienie Usługobiorcom korzystania z usług.</li>
        <li>W przypadkach szczególnych mających wpływ na bezpieczeństwo lub stabilność systemu informatycznego, Usługodawca ma prawo do czasowego zaprzestania lub ograniczenia świadczenia usług, bez wcześniejszego powiadamiania i przeprowadzania prac konserwatorskich mających na celu przywrócenie bezpieczeństwa i stabilności systemu informatycznego.</li>
        <li>Usługodawca zapewnia Usługobiorcom iż podane przez nich dane osobowe zostaną przez Usługodawcę zachowane w tajemnicy która obejmuje informacje przekazane w publicznej sieci Internet, a  dotyczące i wprowadzone przez Usługobiorców tylko w obrębie systemu informatycznego Usługodawcy i tylko w przypadku, w którym informacje te nie są publiczne dostępne lub ich ujawnienie nie jest niezbędne dla prawidłowego wykonania usługi, której dotyczą.  Informacje przekazywane przez Usługobiorców mogą zostać ujawnione jedynie za uprzednią zgodą Usługobiorcy lub w przypadku gdy obowiązek taki wynika z obowiązujących przepisów prawa.</li>
        <li>Usługodawca rozpatruje reklamacje w terminie 14 dni, licząc od dnia jej wniesienia. Jeśli reklamacja w tym czasie nie może zostać rozpatrzenia, Usługodawca w tym terminie powiadamia reklamującego na piśmie o przyczynach opóźnienia i przewidywanym terminie rozpatrzenia reklamacji.</li>
        <li>Usługobiorca jest zobowiązanych do wprowadzania danych zgodnych ze stanem faktycznym.</li>
        <li>Reklamacje związane ze świadczeniem usług elektronicznych przez Usługodawcę można składać pisemnie na adres Usługodawcy lub w formie elektronicznej za pośrednictwem poczty elektronicznej na adres: <a href="mailto:dpo@domkrak.pl">dpo@domkrak.pl</a> . Zaleca się podanie przez Usługobiorcę w opisie reklamacji: informacji i okoliczności dotyczących przedmiotu reklamacji, w szczególności rodzaj i daty wystąpienia nieprawidłowości; żądania Usługobiorcy oraz danych kontaktowych składającego reklamacje.</li>
        <li>
            Po zakończeniu korzystania przez Usługobiorcę z usług świadczonych przez Usługodawcę, na skutek wypowiedzenia, odmowy akceptacji zmian regulaminu, dane osobowe Usługobiorcy mogą być przetwarzanie w zakresie koniecznym do realizacji następujących celów:
            <ol>
                <li>Dochodzenia odpowiedzialności w związku z naruszeniem przez użytkownika przepisów prawa oraz regulaminu</li>
                <li>Stwierdzenia, czy korzystanie przez użytkownika z usług było zgodne z regulaminem i przepisami prawa.</li>
            </ol>
        </li>
        <li>Niniejszy regulamin wchodzi w życie z dniem publikacji.</li>
    </ol>
</div>
																					</div>
		</section>

				</div>  <!-- fusion-row -->
