
@{
    ViewBag.Title = "Doswiadczenie";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<a href="@Url.Action("Index","Home")">POWRÓT</a>
<h2> <center>  Nasze doświadczenie</center></h2>    <br/>
<style type='text/css'>
    .post-content #checklist-1 li:before {
        color: #ffffff !important;
        content: '\f00c'
    }
</style>
<ul id="checklist-1" class="list-icon circle-yes list-icon-ok">
    <li>Firma Smart nieruchomości s.c. Zarządzanie Nieruchomościami działa na rynku nieruchomości od 2000 roku. Zajmujemy się zarządzeniem nieruchomościami i administrowaniem zasobami mieszkaniowymi należącymi do Wspólnot Mieszkaniowych, Spółdzielni Mieszkaniowych i obiektami użyteczności publicznej.</li>
    <br />
    <li>Na wielu obiektach prowadzimy zarząd nieprzerwanie od początku naszej działalności aż do dzisiaj, co poświadcza, że skutecznie i długofalowo administrujemy nieruchomościami.</li>
    <br />
    <li>Smart nieruchomości jest jedną z najprężniej rozwijających się firm zarządzających nieruchomościami na rynku warszawskim. Aktualnie zarządzamy portfelem ponad 180 obiektów o łącznej powierzchni ok. 1 mln m²</li>
    <br />
    <li>Jako firma zarządzająca nieruchomościami możemy też pochwalić się doświadczeniem w przejmowaniu nowych osiedli od developerów. Współpracując z inspektorami nadzoru budowlanego jesteśmy przeszkoleni w najnowszych systemach bezpieczeństwa, przeciwpożarowych i wentylacyjnych jakie są instalowane na nowoczesnych osiedlach.</li>
    <br />
    <li>Dzięki wieloletniemu doświadczeniu w zarządzaniu nieruchomościami wykorzystujemy efekt skali i skutecznie negocjujemy bardzo korzystne ceny od usługodawców (ochrony, serwisów gwarancyjnych i pogwarancyjnych, firm sprzątających) przy zachowaniu wysokiej jakości usług.</li>
</ul>
