
@{
    ViewBag.Title = "Kontakt";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<a href="@Url.Action("Index","Home")">POWRÓT</a>
<center><h2>Informacje o firmie</h2></center>
    <br /><br />
    <p>Firma Smart nieruchomości s.c. Zarządzanie Nieruchomościami specjalizuje się w kompleksowym zarządzaniu nieruchomościami.</p>
    <p>Na rynku nieruchomości działamy nieprzerwanie od roku 1997 i zajmujemy się zarządzaniem i administrowaniem wielolokalowymi kompleksami mieszkalno – usługowymi. Stale poszerzamy nasze doświadczenie i umacniamy swoją pozycję pozyskując coraz to nowe zlecenia.</p>
    <br />
    <p><center><a href="http://www.admus.pl/wp-content/uploads/2014/02/3a.jpg"><img class="wp-image-4906 alignleft" src="http://www.admus.pl/wp-content/uploads/2014/02/3a.jpg" alt="3a" width="281" height="160" srcset="http://www.admus.pl/wp-content/uploads/2014/02/3a.jpg 576w, http://www.admus.pl/wp-content/uploads/2014/02/3a-300x170.jpg 300w" sizes="(max-width: 281px) 100vw, 281px" /></a></center><br /><br />Obecnie zarządzamy portfelem mieszkań i obiektów użyteczności publicznej o łącznej wielkości <strong>około 1 mln m². Zatrudniamy ponad 54 osoby</strong>, w tym licencjonowanych zarządców nieruchomości, inspektora nadzoru budowlanego, specjalistę ds. bezpieczeństwa, doświadczonych koordynatorów, administratorów oraz wykwalifikowanych księgowych. Zapewniamy obsługę prawną nieruchomości współpracując z kilkoma kancelariami prawnymi.</p>
    <br />
    <p>Dla zapewnienia naszym Klientom poczucia bezpieczeństwa posiadamy ubezpieczenie <strong>odpowiedzialności cywilnej  na kwotę 15 mln złotych.</strong></p>
    <p>Zapewniamy administrowanie obiektami, obsługę techniczną, obsługę księgową Wspólnot Mieszkaniowych oraz usługi doradcze. Dobieramy zespół wykwalifikowanych specjalistów indywidualnie do danej nieruchomości.</p>
    <br />
    <p>Niejednokrotnie tworzyliśmy od podstaw kompletny plan zarządzania projektem, obejmujący także szczegółowy plan inwestycji.</p>
    <p>Dzięki negocjacjom i dobremu zarządzaniu potrafimy uzyskać bardzo korzystne ceny od usługodawców (ochrony, serwisów gwarancyjnych i pogwarancyjnych, firm sprzątających itp.) przy zachowaniu wysokiej jakości usług.</p>
    <br />
    <p><strong>Od początku naszej działalności współpracujemy z developerami</strong> na rynku warszawskim, dzięki czemu posiadamy doświadczenie w zarządzaniu nowopowstałymi nieruchomościami powierzonymi przez Developera.</p>
    <p>Wyróżnia nas profesjonalizm, rzetelność i zaangażowanie z jakim administrujemy nieruchomościami, a przede wszystkim indywidualne podejście do każdego Klienta. Najlepszym potwierdzeniem zadowolenia naszych Klientów jest fakt, że <strong>na wielu obiektach prowadzimy zarząd już ponad 18 lat.</strong></p>
