
@{
    ViewBag.Title = "Kontakt";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<a href="@Url.Action("Index","Home")">POWRÓT</a>
<center><h1 class="page-title">Galeria</h1></center>

<div class="data"></div>

<div class="text">

    Poniżej prezentujemy wybrane nieruchomości, którymi zarządzamy.



    <div class="table margt10 w100pro rwd">
        <div class="tr">


            <div class="td ctr valign wi25"><a rel_name="" rel="DmsImageBox" href='https://www.profess.waw.pl/files/1207561876/img_7228.jpg'><img class="tfoto" alt="" vspace="5" width="175" height="131" src="https://www.profess.waw.pl/files/1207561876/img_7228.jpg" border="0" /></a></div>

            <div class="td ctr valign wi25"><a rel_name="" rel="DmsImageBox" href='https://www.profess.waw.pl/files/1207561876/img_7229.jpg'><img class="tfoto" alt="" vspace="5" width="175" height="131" src="https://www.profess.waw.pl/files/1207561876/img_7229.jpg" border="0" /></a></div>

            <div class="td ctr valign wi25"><a rel_name="" rel="DmsImageBox" href='https://www.profess.waw.pl/files/1207561876/img_7230.jpg'><img class="tfoto" alt="" vspace="5" width="175" height="131" src="https://www.profess.waw.pl/files/1207561876/img_7230.jpg" border="0" /></a></div>

            <div class="td ctr valign wi25"><a rel_name="" rel="DmsImageBox" href='https://www.profess.waw.pl/files/1207561876/img_7231.jpg'><img class="tfoto" alt="" vspace="5" width="175" height="131" src="https://www.profess.waw.pl/files/1207561876/img_7231.jpg" border="0" /></a></div>


        </div>
    </div>

</div>







