
@{
    ViewBag.Title = "Kariera";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<a href="@Url.Action("Index","Home")">POWRÓT</a>
<h1><center>
    Sukces każdej firmy tworzą ludzie
        </center> </h1><br />
<p class="tresc">
    Firme Smart nieruchomości s.c. Zarządzanie Nieruchomościami tworzą profesjonaliści z wiedzą i doświadczeniem zawodowym na rynku zarządzania nieruchomościami w Białymstoku. Jednocześnie jesteśmy elastyczni i kreatywni. Aktywnie i z pasją poszukujemy nowych rozwiązań. Wybieramy je myśląc przede wszystkim o mieszkańcach nieruchomości, którymi zarządzamy. Wierzymy, że wszystkie te cechy decydują o sukcesie naszej firmy.
</p><br />
<p class="tresc">
    Ciągle się rozwijamy, dlatego szukamy ludzi, którzy wzmocnią nasz zespół. Stawiamy na sprawdzonych specjalistów, ale także młodych, ambitnych ludzi, którzy chcieliby w naszej firmie rozwijać swoją karierę. Wszyscy nasi pracownicy otrzymują wsparcie w zakresie podnoszenia i rozwijania swoich umiejętności zawodowych oraz budowania swojej pozycji na rynku zarządzania nieruchomościami. Pomożemy uwolnić Twój potencjał.
</p><br /><br />

<h3><center>
    Na co zwracamy szczególną uwagę?
</h3></center>
    <br />
    <p class="wypunktowanie">
        umiejętność pracy w zespole i rozwiązywania konfliktów
    </p><br />
    <p class="wypunktowanie">
        zdolność do pracy w warunkach stresu i pod presją czasu
    </p><br />
    <p class="wypunktowanie">
        świadomość znaczenia, jakie ma jakość świadczonych usług
    </p><br />
    <p class="wypunktowanie">
        kreatywność i otwartość na nowe rozwiązania
    </p>
    </html>
