
@{
    ViewBag.Title = "Kontakt";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<a href="@Url.Action("Index","Home")">POWRÓT</a>
<div id="right">
    <center>
        <h1>Kontakt</h1></center>














    <table width="100%" cellspacing="0" cellpadding="0">
        <tbody>
            <tr valign="top">
                <td width="50%">
                    <strong>         </strong><span style="color: rgb(0, 0, 0);">
                        <strong>
                            Smart Nieruchomości s.c. Zarządzanie Nieruchomościami<br />
                            Białystok <br />
                            <br />
                        </strong>
                    </span>
                    <ul>
                        <li>
                            <strong>Siedziba </strong><br />
                            ul. Lipowa 1 <br />
                            15-111 Białystok,<br />

                            e-mail: <a href="javascript:location.href='mailto:'+String.fromCharCode(98,105,117,114,111,64,115,111,99,104,97,110,105,101,114,117,99,104,111,109,111,115,99,105,46,99,111,109)+'?'">biuro@smartnieruchomosci.com</a><br />
                            &nbsp;
                        </li>
                        <li>
                            <strong>Biuro - Księgowość </strong><br />
                            tel. 85 679 26 46<br />
                            &nbsp;
                        </li>
                        <li>
                            <strong>Zarządca Nieruchomości </strong><br />
                            Anna Kowalska<br />
                            e-mail: <a href="javascript:location.href='mailto:'+String.fromCharCode(109,105,99,104,97,108,115,111,99,104,97,64,115,111,99,104,97,110,105,101,114,117,99,104,111,109,111,115,99,105,46,99,111,109)+'?'">annakowalska@smartnieruchomosci.com</a><br />
                            tel. 85 679 26 46<br />
                            &nbsp;
                        </li>
                        <li>
                            <strong>Administrator</strong><br />
                            <div>, tel. 791 762 716</div>
                            <div>, tel. 728 344 344</div>
                            <div>, tel. 531 762 716</div>
                            <div>, tel. 692 912 455</div>
                            <div>, tel. 794 403 005</div>
                            &nbsp;
                        </li>
                        <br />
                    </ul>
                </td>
                <td width="50%"></td>
            </tr>
        </tbody>
    </table>
