
@{
    ViewBag.Title = "Kontakt";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<a href="@Url.Action("Index","Home")">POWRÓT</a><br /><br /><br />
<h2>Dla Developera</h2><br/>
<p>Zajmujemy się nieruchomością od momentu odbioru od Wykonawcy do powstania Wspólnoty. Pośredniczymy w kontaktach mieszkańców z Developerem. Oferujemy kompleksowe usługi administracyjne, obsługę organizacyjną, techniczną i prawną nieruchomości. Dzięki wieloletniemu doświadczeniu w zarządzaniu Wspólnotami oraz szerokiej wiedzy naszego zespołu ekspertów, gwarantujemy Developerowi specjalistyczne usługi doradcze w następujących dziedzinach:</p>
<ul>
    <li>analiza projektu umożliwiająca optymalizację rozwiązań na osiedlu zarówno na etapie projektu jak i na etapie sprzedażowym,</li>
    <li>obniżenie kosztów administrowania w czasie rozruchu projektu,</li>
    <li>organizacja przebiegu dokumentacji i płatności,</li>
    <li>przygotowanie i negocjowanie umów na dostawy mediów i inne usługi dotyczące nieruchomości,</li>
    <li>przegląd wszystkich rozwiązań technicznych i eksploatacyjnych,</li>
    <li>analiza rozwiązań prawnych,</li>
    <li>przygotowanie procesu odbioru inwestycji,</li>
    <li>przygotowanie rocznego budżetu,</li>
    <li>przygotowanie kompleksowego raportu dotyczącego inwestycji,</li>
    <li>opracowanie procedur reklamacyjnych i usuwania usterek,</li>
    <li>podejmowanie interwencji przy zgłoszeniach usterek budowlanych w oparciu o przyjęte procedury,</li>
    <li>porady prawne związane z niezbędnymi uregulowaniami formalnymi dotyczącymi powołania i funkcjonowania Wspólnoty oraz obowiązków Inwestora</li>
</ul><br /><br />
<p><strong>Nad każdą nieruchomością czuwa indywidualnie dobrany zespół profesjonalistów. Działamy w oparciu o szeroką wiedzę, doświadczenie i rzetelność.</strong></p>
<br />
<p><strong>PRZEJĘCIE NIERUCHOMOŚCI OD GENERALNEGO WYKONAWCY:</strong></p><br />
<ul>
    <li>czynny udział w odbiorach części wspólnej nieruchomości oraz przeglądach,</li>
    <li>przejęcie dokumentacji nieruchomości, przechowywanie jej na nieruchomości,</li>
    <li>pełnienie funkcji komunikacyjnej między Developerem, firmami zewnętrznymi a właścicielami i użytkownikami nieruchomości,</li>
    <li>weryfikowanie stanu formalnego i faktycznego nieruchomości, prowadzenie wykazu lokali i ich właścicieli, aktualizowanie stanu budynków,</li>
    <li>kontakt telefoniczny 24 h z administratorem nieruchomości dedykowany użytkownikom lokali przedstawicielom Developera i służbom technicznym,</li>
    <li>analiza, doradztwo i opracowywanie koncepcji działania dostawców usług dla nieruchomości,</li>
    <li>podejmowanie działań interwencyjnych przy zgłoszeniach usterek budowlanych w oparciu o przyjęte procedury (ustalone z Developerem),</li>
    <li>analiza kosztów administrowania w czasie rozruchu projektu i opracowanie planu działań optymalizacyjnych,</li>
    <li>optymalizacja kosztów za media i inne usługi, w tym negocjowanie umów z dostawcami</li>
</ul><br /><br />
<p><strong>ADMINISTROWANIE W IMIENIU I NA RZECZ DEVELOPERA</strong></p><br />
<ul>
    <li>przygotowanie dla Developera modelu zarządzania nieruchomością,</li>
    <li>czynny udział w odbiorach części wspólnej nieruchomości oraz przeglądach,</li>
    <li>założenie i prowadzenie Książki Obiektu Budowlanego,</li>
    <li>monitorowanie pracy usługodawców związanych z funkcjonowaniem nieruchomości,</li>
    <li>kontrola czystości i utrzymywanie w należytym stanie części wspólnych, pomieszczeń i terenów służących do wspólnego użytku właścicieli lokali,</li>
    <li>kontrola pracy firm odpowiedzialnych za konserwację urządzeń technicznych,</li>
    <li>podejmowanie działań interwencyjnych związanych z usuwaniem awarii i ich skutków,</li>
    <li>dyżury administratora na terenie nieruchomości w ilości nie mniejszej niż 4h dziennie przez 5 dni w tygodniu,</li>
    <li>wizytacje nieruchomości według potrzeb,</li>
    <li>analizowanie i doradztwo w zakresie kosztów dotyczących nieruchomości oraz sugerowanie działań optymalizacyjnych,</li>
    <li>wyszukiwanie firm świadczących usługi oraz negocjowanie cen i warunków umów,</li>
    <li>przyjmowanie zgłoszeń dotyczących wad i usterek w lokalach jak i częściach wspólnych oraz przekazywanie ich Developerowi/Wykonawcy,</li>
    <li>nadzór nad procesem zgłaszania i usuwania usterek/wad,</li>
    <li>monitoring terminowego usuwania usterek przez wykonawców,</li>
    <li>rozliczenie użytkowników lokali mediów (cw, zw, zw, co) za okres od dnia protokolarnego przejęcia lokalu do dnia powstania Wspólnoty Mieszkaniowej i przekazanie danych Developerowi,</li>
    <li>opisywanie, weryfikacja faktur dotyczących nieruchomości i przekazywanie ich do siedziby Zleceniodawcy,</li>
    <li>ubezpieczanie nieruchomości wspólnej na preferencyjnych warunkach wynegocjowanych specjalnie dla nieruchomości zarządzanych przez naszą firmę</li>
</ul><br /><br />
<p><strong>POWOŁANIE WSPÓLNOTY</strong></p><br />
<ul>
    <li>wystąpienie o nadanie NIP, REGON w terminie jednego dnia roboczego od dnia powstania Wspólnoty Mieszkaniowej,</li>
    <li>założenie konta bankowego dla Wspólnoty Mieszkaniowej,</li>
    <li>przygotowanie uchwał, regulaminów i statutów,</li>
    <li>rejestracja Wspólnoty</li>
</ul>