
@{
    ViewBag.Title = "Kontakt";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<a href="@Url.Action("Index","Home")">POWRÓT</a><br /><br /><br />
<p><strong>OBSŁUGA W RAMACH ZARZĄDU</strong></p><br />
<ul>
    <li>dokonanie rejestracji Wspólnoty (REGON, NIP, rachunek bankowy),</li>
    <li>wyszukiwanie firm świadczących usługi oraz negocjowanie warunków współpracy,</li>
    <li>przygotowanie umów na dostawy mediów (woda, prąd, gaz),</li>
    <li>przygotowanie umów na usługi (wywóz nieczystości, konserwacja, sprzątanie, ochrona, przeglądy techniczne, ekspertyzy, nadzory, remonty),</li>
    <li>przygotowanie umów ubezpieczenia budynku,</li>
    <li>negocjowanie korzystnych pakietów dodatkowych, np. ubezpieczenia mieszkań,</li>
    <li>regulowanie należności nieruchomości, w zakresie ustalonym przez Radę Osiedla/Zarząd,</li>
    <li>przygotowanie zebrań Wspólnoty,</li>
    <li>
        opracowanie wieloletniego planu zarządzania nieruchomością wspólną zgodnie z preferencjami właścicieli:
        <ul>
            <li>plan zachowawczy – utrzymanie nieruchomości w stanie niepogorszonym,</li>
            <li>plan rozwojowy – powiększanie wartości nieruchomości,</li>
            <li>plan pozyskiwania pożytków</li>
        </ul>
    </li>
</ul><br /><br />
<p><strong>ADMINISTROWANIE</strong></p><br />
<ul>
    <li>udział w procesie przejęcia nieruchomości od developera lub dotychczasowego zarządcy,</li>
    <li>stworzenie procedur reklamacyjnych i udział w procesie reklamacji,</li>
    <li>wyszukiwanie firm świadczących usługi związane z utrzymaniem nieruchomości oraz negocjowanie cen i warunków umów,</li>
    <li>kontrola i nadzór nad utrzymaniem porządku i czystości pomieszczeń oraz terenów wspólnych nieruchomości,</li>
    <li>kontrola i nadzór nad pracą firm odpowiedzialnych za konserwacje instalacji technicznych w budynku,</li>
    <li>kontrola i nadzór nad innymi usługami związanymi z funkcjonowaniem nieruchomości – np. ochrona,</li>
    <li>dokonywanie odczytów liczników lub nadzór nad wykonywaniem odczytów liczników przez podmioty zewnętrzne, w okresach wynikających z terminów rozliczeń mediów,</li>
    <li>nadzór nad terminowym zlecaniem kontroli technicznych, okresowych przeglądów nieruchomości i urządzeń stanowiących ich wyposażenie techniczne zgodnie z wymaganiami Prawa Budowlanego,</li>
    <li>sporządzenie regulaminów oraz instrukcji obsługi lokalu,</li>
    <li>pełnienie funkcji komunikacyjnej pomiędzy firmami zewnętrznymi a właścicielami i użytkownikami nieruchomości,</li>
    <li>prowadzenie biura Administracji (korespondencja z mieszkańcami, odbieranie telefonów, maili),</li>
    <li>prowadzenie dokumentacji technicznej nieruchomości wymaganej przez przepisy Prawa Budowlanego,</li>
    <li>zgłaszanie usterek części wspólnych developerowi,</li>
    <li>kontrola i nadzór nad usuwaniem awarii i ich skutków,</li>
    <li>kontrola i nadzór nad odbiorem prac remontowych i modernizacyjnych,</li>
    <li>wykonywanie podjętych uchwał przez właścicieli nieruchomości,</li>
    <li>bieżące monitorowanie ogólnego stanu technicznego nieruchomości,</li>
    <li>kontakt telefoniczny 24h na dobę z administratorem oraz internetowa obsługa mieszkańców,</li>
    <li>przygotowanie, zwoływanie i obsługa zebrań Wspólnoty Mieszkaniowej,</li>
    <li>prowadzenie i bieżąca aktualizacja wykazu właścicieli lokali,</li>
    <li>przygotowywanie raportów dla Zarządu lub Rady Osiedla,</li>
    <li>wydawanie zaświadczeń właścicielom lokali</li>
</ul><br /><br />
<p><strong>OBSŁUGA PRAWNA</strong></p><br />
<ul>
    <li>reprezentacja Wspólnoty przed sądami i organami egzekucyjnymi w przypadku, gdy Wspólnota zostaje pozwana,</li>
    <li>przygotowanie umów na dostawy mediów i usług,</li>
    <li>opracowywanie uchwał i innych aktów normatywnych Wspólnoty (regulaminów, itp.),</li>
    <li>w sprawach szczególnie skomplikowanych współpracujemy z kancelarią prawną</li>
</ul><br /><br />
<p><strong>OBSŁUGA KSIĘGOWA</strong></p><br />
<ul>
    <li>otwarcie rachunku bankowego Wspólnoty i dokonywanie rozliczeń poprzez ten rachunek,</li>
    <li>prowadzenie rozliczeń z dostawcami mediów i usług,</li>
    <li>prowadzenie ewidencji pozaksięgowej kosztów zarządu nieruchomością wspólną,</li>
    <li>pobieranie od właścicieli opłat z tytułu zaliczek i wpłat za media,</li>
    <li>pobieranie dochodów z pożytków,</li>
    <li>windykacja należności,</li>
    <li>dla Wspólnot Mieszkaniowych zapewniamy internetowy dostęp do indywidualnych kont właścicieli lokali, gdzie można 24h na dobę sprawdzić naliczenia, wpłaty i rozliczenia, przeczytać ważne informacje zamieszczone przez zarządcę/administratora,</li>
    <li>przygotowywanie projektów planu gospodarczego,</li>
    <li>przygotowywanie miesięcznych sprawozdań finansowych,</li>
    <li>sporządzanie rocznych sprawozdań finansowych,</li>
    <li>wystawianie w imieniu developera zawiadomień/faktur dla lokali przekazanych od chwili przejęcia do czasu podpisania aktu notarialnego,</li>
    <li>rozliczanie się z Urzędem Skarbowym i składanie deklaracji</li>
</ul><br /><br />
<p><strong>OBSŁUGA TECHNICZNA NIERUCHOMOŚCI</strong></p><br />
<ul>
    <li>prowadzenie dokumentacji technicznej nieruchomości, w tym Książki Obiektu Budowlanego, zgodnie z wymogami Prawa Budowlanego,</li>
    <li>zlecanie kontroli technicznych i okresowych przeglądów nieruchomości i urządzeń stanowiących jej wyposażenie,</li>
    <li>zlecanie i kontrola bieżących napraw i konserwacji budynku,</li>
    <li>kontrola nad usuwaniem awarii i ich skutków,</li>
    <li>przygotowywanie planów remontowych,</li>
    <li>nadzór nad pracą firm wykonujących remonty i modernizacje oraz odbiór tych prac,</li>
    <li>wyszukiwanie wykonawców robót budowlanych</li>
</ul>
