
@{
    ViewBag.Title = "Onas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<a href="@Url.Action("Index","Home")">POWRÓT</a><br /><br /><br />
<p>
    <strong>
        Firma Smart nieruchomości s.c. Zarządzanie Nieruchomościami istnieje od 2000 roku i powstała na solidnym fundamencie jakim jest przyjaźń.<br />
           </strong><br /><br />
</p>
<p><center>
    <img class="alignleft" src="http://big.bialystok.pl/wp-content/uploads/2014/02/IMAG0939-1086x529.jpg" alt="" width="426" height="208" />
</center><br />Zarządzamy budynkami o łącznej powierzchni użytkowej około 120 000 m2 w Białymstoku.<br />
    Gwarantem wysokiej jakości świadczonych usług przez naszą firmę jest wieloletnie doświadczenie zdobyte pracą zgranej kadry pracowniczej w niezmienionym składzie od wielu lat. Zatrudniając wykwalifikowaną kadrę jesteśmy w stanie sprostać wszelkim wymaganiom klientów i zapewnić im wyjątkową jakość świadczonych usług.
</p><br /><br />
<p>
    Cechuje nas profesjonalizm, rzetelność oraz indywidualne podejście do potrzeb klienta.<br />
    Oferujemy całodobową opiekę techniczną nad nieruchomością, obsługę administracyjno-księgową, utrzymanie czystości, utrzymanie zieleni.
</p>
<p>Administrator osobiście sprawuje pieczę nad nieruchomością dbając o zapewnienie mieszkańcom komfortu zamieszkania oraz poczucie bezpieczeństwa.</p>
<p>Posługujemy się nowoczesnymi narzędziami wspomagającymi zarządzanie. Każdy z mieszkańców ma dostęp do serwisu ,,Strefa mieszkańca”. Wszelkie rozliczenia podajemy właścicielom w sposób przystępny i zrozumiały.</p>
<p style="text-align: right;">
    nr licencji 2222 Anna Kowalska<br />
    telefon biura 85-777-88-99
</p>
