
@{
    ViewBag.Title = "Opinie";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<a href="@Url.Action("Index","Home")">POWRÓT</a><br /><br /><br />
<h2><center> Satysfakcja Klientów</center></h2><br /><br />
<style type='text/css'>
    .post-content #checklist-1 li:before {
        color: #ffffff !important;
        content: '\f00c'
    }
</style>
<ul id="checklist-1" class="list-icon circle-yes list-icon-ok">
    <li><strong>40 000 zadowolonych Klientów na ponad 180 obiektach</strong> w Warszawie i okolicach – to efekt zaangażowania i profesjonalizmu naszych zarządców nieruchomości, administratorów i księgowych. Najlepszym potwierdzeniem zadowolenia naszych Klientów jest fakt, że na wielu obiektach prowadzimy zarząd od 1997 roku.</li>
    <li>Stale dbamy o zachowanie należytego stanu nieruchomości i sprawną komunikację ze wszystkimi członkami Wspólnoty Mieszkaniowej. Administrator nieruchomości jest dostępny w wyznaczonych godzinach na terenie Osiedla i dba w tym czasie o należyty stan nieruchomości oraz nadzoruje pracę usługodawców. Zapewniamy kontakt telefoniczny z administratorem nieruchomości 24h na dobę.</li>
    <li>Sprawne zarządzanie nieruchomościami przejawia się m.in. w skutecznym usuwaniu awarii. Organizujemy pracę konserwatorów w taki sposób, aby zapewnić możliwość usunięcia każdej awarii w ciągu 2h, także w niedziele i święta.</li>
    <li>Zapewniamy każdemu mieszkańcowi stały dostęp internetowy do indywidualnego konta, na którym odnotowane są wszystkie ogłoszenia dotyczące Wspólnoty Mieszkaniowej, stan bieżących rozrachunków indywidualnych i rozrachunków Wspólnoty.</li>
</ul>