
@{
    ViewBag.Title = "Pomoc";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<a href="@Url.Action("Index","Home")">POWRÓT</a><br /><br /><br />



<center><h2>Porady</h2></center><br />
<div id="tresc">
    <p style="text-align: left;"><strong>Oszczędzanie energii w domu</strong></p>
    <p style="text-align: left;">O coraz większy ból głowy wszystkich właścicieli mieszkań przyprawiają stale rosnące ceny energii elektrycznej, cieplnej, dostawy wody. Ceny rosną szybciej niż wynagrodzenia, co powoduje iż jest to coraz istotniejsza pozycja w domowym budżecie. Drugim coraz poważniejszym problemem jest ekologia, postępujące ocieplenie klimatu oraz coraz mniejsza dostępność surowców energetycznych. Powoduje to modę na zachowania ekologiczne, przyczyniające się do oszczędzania dostępnych źródeł energii.</p>
    <p style="text-align: left;">

        <br/><br/>
        <u>Oto kilka prostych sposobów do zastosowania w domu:</u><br />
    <p style="text-align: left;">Lodówka to urządzenie, który zużywa najwięcej prądu spośród wszystkich sprzętów AGD.</p><br />
        <br />
        <strong>Gotowanie</strong>
    </p>
    <ul>
        <li style="text-align: left;">
            Używajmy wody od razu po zagotowaniu. Ponadto, jeśli przed chwilą nasz czajnik elektryczny zagotował wodę, to jeszcze przez kilka (kilkanaście) minut będzie miała odpowiednią temperaturę do zalania herbaty czy kawy. Częste, ponowne gotowanie jest niepotrzebne i zużywa energię. Czajnik elektryczny najwięcej energii zużywa na podgrzanie wody w ostatnim stadium gotowania, gdy temperatura jest bliska temperatury wrzenia.<br />
            &nbsp;
        </li>
        <li style="text-align: left;">
            Stosujmy odpowiednio dopasowane pokrywki do patelni i garnków. Gotowanie w garnku bez przykrycia to strata ok. 30% energii.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br />
            &nbsp;
        </li>
        <li style="text-align: left;">Pamiętajmy by podczas gotowania na gazie płomienie z palnika nie wychodziły poza obrys garnka czy patelni.</li>
    </ul>
    <p style="text-align: left;">
        <br /><br />
        <strong>Lodówka i zamrażarka</strong>
    </p>
    <p style="text-align: left;">Lodówka to urządzenie, który zużywa najwięcej prądu spośród wszystkich sprzętów AGD.</p><br />
    <ul>
        <li style="text-align: left;">
            Stawiajmy lodówkę jak najdalej od okien kuchennych i piekarników.<br />
            &nbsp;
        </li>
        <li style="text-align: left;">
            Regularnie odmrażajmy lodówkę i zamrażarkę. Gruba warstwa lodu jest dodatkową izolacją, a urządzenie by utrzymać wymaganą temperaturę będzie zużywać więcej energii.<br />
            &nbsp;
        </li>
        <li style="text-align: left;">
            Optymalną temperaturą w lodówce jest od 2 do 3oC, a w zamrażarce -15oC.<br />
            &nbsp;
        </li>
        <li style="text-align: left;">Lodówko-zamrażarka klasy “A” zużywa 3/4 energii mniej niż 10-letnie modele.</li>
    </ul>
    <p style="text-align: left;">
        <br /><br />
        <strong>Pozostałe urządzenia domowe</strong>
    </p>
    <ul>
        <li style="text-align: left;">
            Kupowanie “wydajnych energetycznie” urządzeń domowych znacząco obniża zużycie energii. Pralka o najwyższej klasie energetycznej “A++” zużywa o 30% – 40% mniej energii w stosunku do starych modeli niższych klas.<br />
            &nbsp;
        </li>
        <li style="text-align: left;">
            Wyłączajmy drukarkę gdy jej nie używamy. Ponad 90% jej energii zużywanej jest w ciągu roku na stand-by!! Pozostałe 10% to samo drukowanie!<br />
            &nbsp;
        </li>
        <li style="text-align: left;">
            Ustawmy nasz komputer na przechodzenie w stan wstrzymania lub hibernację w czasie bezczynności.<br />
            &nbsp;
        </li>
        <li style="text-align: left;">Jeśli wykorzystujemy komputer do prac biurowych i multimediów (filmy, muzyka), zwróćmy uwagę na zastosowanie energooszczędnych podzespołów w naszym PC. Zainwestujmy w energooszczędne procesory i karty graficzne. Możemy także rozważyć kupno laptopa.</li>
    </ul>
    <p style="text-align: left;">
        <br /><br />
        <strong>Ogrzewanie</strong>
    </p>
    <p style="text-align: left;">Ogrzewanie stanowi nawet 70% rocznych wydatków przeznaczonych na energię w gospodarstwie domowym, dlatego warto zapoznać się z kilkoma sposobami pozwalającymi na ograniczenie strat ciepła, a co za tym idzie oszczędnościami w portfelu.</p>
    <ul>
        <li style="text-align: left;">
            Na początku sprawdź czy grzejniki w mieszkaniu nie są zasłonięte meblami lub ciężkimi zasłonami. Utrudnia to cyrkulację i dystrybucję ciepła, tak więc warto zastanowić się nad zmianą aranżacji wnętrza w celu odkrycia grzejników. W słoneczne zimowe dni warto odsłonić firanki, pozwalając tym samym na uzyskanie dodatkowej energii z promieni słonecznych.<br />
            &nbsp;
        </li>
        <li style="text-align: left;">
            Ponieważ najwięcej ciepła „ucieka” przez okna, zasłanianie okna po zmroku krótkimi zasłonami lub roletami powstrzyma napływające od okna zimne powietrze. Jest tylko jedna uwaga: Twoje rośliny doniczkowe mogą tego nie polubić.<br />
            &nbsp;
        </li>
        <li style="text-align: left;">
            Redukcja nawet o 1 stopień temperatury w pokoju da oszczędność nawet 3 – 6% na rachunku. Oczywiście nie należy nadmiernie wychładzać pomieszczeń bo nagrzanie ich do odpowiedniej&nbsp; temperatury pochłonie więcej energii niż zostało to wcześniej zaoszczędzone.<br />
            &nbsp;
        </li>
        <li style="text-align: left;">Wietrz pomieszczenia krótko lecz intensywnie, zakręcając przy tym termostaty.</li>
    </ul>
    <p style="text-align: left;">
        <br /><br />
        <strong>Woda</strong>
    </p>
    <p style="text-align: left;">Zwykle nie zastanawiamy się, ile wody zużywamy w naszych domach na co dzień. Wg danych Ministerstwa Infrastruktury średnie zużycie wody przypadające na jednego mieszkańca Polski wynosi ok. 110 litrów dziennie. W dużych miastach ilość ta wynosi już ok. 145 litrów dziennie. Człowiek do przeżycia potrzebuje około 2,5 litra wody dziennie. Zużycie reszty jest wynikiem pozostałych potrzeb człowieka, jednakże istnieją sposoby na ograniczenie tego zużycia.</p>
    <ul>
        <li style="text-align: left;">
            Naprawmy cieknące krany, niesprawne płuczki.<br />
            &nbsp;
        </li>
        <li style="text-align: left;">
            Używajmy prysznica zamiast brać kąpiel w wannie.<br />
            &nbsp;
        </li>
        <li style="text-align: left;">
            Podczas mycia zębów, golenia zakręcajmy wodę.<br />
            &nbsp;
        </li>
        <li style="text-align: left;">
            Używajmy perlatora (sitka) montowanego na wylewkach baterii umywalkowych i zlewozmywakowych. Możemy uzyskać nawet do 50 % oszczędności wody, przy znacznie lepszym efekcie myjącym i płuczącym.<br />
            &nbsp;
        </li>
        <li style="text-align: left;">Zamiast zmywać naczynia ręcznie warto jest zrobić to w zmywarce. Zużycie wody w dobrych modelach zmywarek sięga tylko 36 litrów na cykl. By umyć ręcznie tą samą ilość naczyń w zlewie zużyjemy ponad 100 litrów.</li>
    </ul>
</div>
