
@{
    ViewBag.Title = "Kontakt";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<a href="@Url.Action("Index","Home")">POWRÓT</a><br /><br /><br />
<div class="width-2-3" id="body">
    <table class="contentpaneopen">
        <tbody>
            <tr>
                <td valign="top">
                    <p>
                        <img width="640" height="224" src="https://www.lux-dom.pl/content/Images/rece.jpg" alt="rece">
                    </p><br/><br />
                    <p class="tresc">
                        Rozwijamy się i szukamy nowych współpracowników. Działamy zgodnie z hasłem "<strong>
                            Po
                            prostu mieszkaj, nam zostaw całą resztę
                        </strong>". Mieszkańcy, właściciele,
                        użytkownicy budynków chcą być profesjonalnie i szybko obsługiwani. Nie chcą mieć
                        problemów, a jeśli już się one pojawią, to oczekują, że szybko je rozwiążemy. Tak
                        działamy.
                    </p><br />
                    <p class="tresc">
                        Dlatego zależy nam na współpracy z osobami i firmami, które są:
                    </p><br />
                    <p class="wypunktowanie">
                        - profesjonalistami,
                    </p><br />
                    <p class="wypunktowanie">
                        - działają solidnie i sumiennie,
                    </p><br />
                    <p class="wypunktowanie">
                       - na czas wykonują powierzone zadania.
                    </p><br />
                    <p class="tresc">
                        Jeśli chcesz z nami współpracować, wyślij swoje zgłoszenie.&nbsp;
                    </p><br /><br /><br />
                    <p class="podtytul">
                        Program rabatowy
                    </p><br /><br />
                    <p class="tresc">
                        Tworzymy skierowany do naszych klientów program pozwalający na kupowanie ciekawych
                        produktów lub korzystanie z usług wysokiej, jakości po atrakcyjnych cenach. Dlatego
                        szukamy firm, które są zainteresowane przedstawieniem mieszkańcom zarządzanych przez
                        Smart nieruchomości oferty, umożliwiającej dokonywanie zakupów ze zniżką. Jeśli
                        posiadasz produkt lub usługę, którą klienci Smart nieruchomości byliby zainteresowanie przygotuj
                        specjalną ofertę i przekaż ją nam. Pamiętaj, że Twoja oferta musi być wyjątkowa.
                        Jeśli twój produkt spełni wymagania jakościowe twoja oferta pojawi się na liście
                        ofert partnerów Smart nieruchomości dostępnych dla ogromnej liczby klientów indywidualnych,
                        obsługiwanych przez Lux Dom nieruchomości.
                    </p><br /><br />
                    <p class="tresc">
                        Zastrzegamy, że będziemy włączać do programu tylko te oferty, które pozwalają nabywać
                        produkty i usługi wysokiej, jakości i będą zapewniać atrakcyjne zniżki.<br>
                        <br>
                    </p>
                </td>
            </tr>
        </tbody>
    </table>

