
@{
    ViewBag.Title = "Telefony alarmowe";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<a href="@Url.Action("Index","Home")">POWRÓT</a><br /><br /><br />
<div id="content">
    <center> <div id="title"><b>Telefony alarmowe</b></div><div style="padding-left:20px"></center><br />
    <table style="width: 342px; height: 209px;" border="0">
        <tbody>
            <tr>
                <td>Og&oacute;lnopolski Telefon Alarmowy</td>
                <td>tel. : 112</td>
            </tr>
            <tr>
                <td>Pogotowie Ratunkowe</td>
                <td>tel. : 999</td>
            </tr>
            <tr>
                <td>Straż Pożarna</td>
                <td>tel. : 998</td>
            </tr>
            <tr>
                <td>Policja</td>
                <td>tel. : 997</td>
            </tr>
            <tr>
                <td>Pogotowie Wodociągowe</td>
                <td>tel. : 994</td>
            </tr>
            <tr>
                <td>Pogotowie Ciepłownicze</td>
                <td>tel. : 993</td>
            </tr>
            <tr>
                <td>Pogotowie Gazowe</td>
                <td>tel. : 992</td>
            </tr>
            <tr>
                <td>Pogotowie Energetyczne</td>
                <td>tel. : 991</td>
            </tr>
        </tbody>
    </table>
    </div>
</div>