
@{
    ViewBag.Title = "Spolecznosc";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<a href="@Url.Action("Index","Home")">POWRÓT</a><br /><br /><br />
<div id="right">
    <div id="rightcol">
        <h2>ABC Wspólnoty</h2>
        <div id="tresc">
            <p style="text-align: center;"><strong>Wspólnota</strong> – ogół właścicieli lokali w ramach danej nieruchomości. Określenie nieruchomości (działka gruntu, budynki) znajduje się w księdze wieczystej. Wspólnota zajmuje się częścią wspólną – czyli wszystkim tym, co znajduje się poza wyodrębnionymi lokalami i służy do użytku więcej niż jednemu właścicielowi. Swoją nieruchomością (lokalem) każdy z właścicieli zajmuje się samodzielnie.</p>
            <p style="text-align: center;">&nbsp;</p>
            <p style="text-align: center;"><strong>Koszty wspólnoty</strong> – są to środki wydawane na utrzymanie części wspólnych, tj. sprzątanie, konserwacje, remonty, wynagrodzenie administratora, nie zalicza się do nich kosztów dostarczenia mediów do lokali np. wody, energii cieplnej. Wspólnota jest jedynie pośrednikiem pomiędzy dostawcą (ZEB, MPEC, WB) a odbiorcą – właścicielem. Właściciele na utrzymanie nieruchomości wspólnej jak i na koszty dostarczenia mediów do lokali wnoszą zaliczki ustalone uchwałą wspólnoty. Właściciel po zakończeniu roku najczęściej przed zebraniem rocznym wspólnoty otrzymuje rozliczenie wniesionych zaliczek i poniesionych kosztów, ze zwrotem nadpłaty lub koniecznością dopłaty.</p>
            <p style="text-align: center;">&nbsp;</p>
            <p style="text-align: center;"><strong>Zarząd wspólnotą</strong> – duże wspólnoty (powyżej 7 lokali) zgodnie z ustawą określają sposób zarządzania – zarząd może składać się z osób fizycznych wybranych uchwałą przez właścicieli lub może być w formie notarialnej powierzony osobie prawnej (zarządcy) posiadającej osobę z uprawnieniami zarządcy nieruchomości z wpisem do księgi wieczystej.</p>
            <p style="text-align: center;">&nbsp;</p>
            <p style="text-align: center;"><strong>Zmiana sposobu zarządzania</strong> – może nastąpić w formie uchwały wspólnoty, protokołowanej notarialnie. Notariusz na podstawie uchwały podjętej większością udziałów formułuje wniosek i zmienia wpis w księdze wieczystej.</p>
            <p style="text-align: center;">&nbsp;</p>
            <p style="text-align: center;"><strong>Zarząd, Zarządca podejmuje samodzielnie czynności tzw. zwykłego zarządu</strong> – dotyczące bieżących czynności zabezpieczających prawidłowe funkcjonowanie nieruchomości – zawiera umowy dot. dostawy energii elektrycznej, cieplnej, wody, konserwacji , sprzątania itp. Poza zakresem zwykłego zarządu zarządca podejmuje te czynności, do których upoważniają go uchwały wspólnoty.</p>
            <p style="text-align: center;">&nbsp;</p>
            <p style="text-align: center;"><strong>Prawa i obowiązki właścicieli</strong> – to uchwalenie planu gospodarczego i wysokości opłat na utrzymanie nieruchomości wspólnej, zbycie/nabycie, podział/scalenie nieruchomości, określenie granic części wspólnej, ustalenie sposobu ewidencji pozaksięgowej, zmianę udziałów w nieruchomości. Każdy właściciel ma prawo do kontrolowania czynności zarządcy oraz do wglądu w dokumenty. Zarządca ma obowiązek udostępnić każdą informację na temat wspólnoty.</p>
            <p style="text-align: center;">&nbsp;</p>
            <p style="text-align: center;"><strong>Wnioski ws. działalności wspólnoty, projekty uchwał</strong> – są składane zarządcy – który podejmuje decyzję o ich realizacji samodzielnie (jeśli dotyczą zakresu zwykłego zarządu) lub decyduje o przedstawieniu współwłaścicielom (jeśli przekraczają kompetencje zarządcy). W przypadku wniosku sygnowanego przez 10% właścicieli, zarządca musi poddać wniosek do decyzji wspólnoty.</p>
            <p style="text-align: center;">&nbsp;</p>
            <p style="text-align: center;"><strong>Uchwały wspólnoty</strong> – zawsze muszą być podjęte większością udziałów właścicieli, czyli większością bezwzględną ponad 50% udziałów w nieruchomości wspólnej. Zgodnie z ustawą w konkretnej sprawie właściciele mogą przyjąć sposób głosowania 1 właściciel – 1 głos jeżeli wcześniej zostanie podjęta uchwała w trybie podstawowym o sposobie głosowania w konkretnej sprawie. Ustawa przewiduje możliwość zmiany trybu głosowania na wniosek właścicieli posiadających 20% udziałów – ale tylko w przypadkach błędów w sumie udziałów bądź istnienia udziałowca dominującego – posiadającego ponad połowę udziałów.</p>
            <p style="text-align: center;">
                <br />
                <br />
                <strong>Głosowanie nad uchwałami</strong> – może nastąpić na zebraniu wspólnoty w trybie indywidualnego zbierania głosów lub w trybie mieszanym częściowo na zebraniu wspólnoty częściowo w trybie indywidualnego zbierania głosów. Ostatni sposób stosowany jest gdy na zebraniu nie ma właścicieli posiadających ponad 50% udziałów w nieruchomości wspólnej lub gdy na zebraniu nie udało się zebrać bezwzględną większości za lub przeciw uchwale. W przypadku indywidualnego zbierania głosów lub głosowania w trybie mieszanym należy powiadomić każdego właściciela o treści podjętej uchwały.
            </p>
            <p style="text-align: center;">&nbsp;</p>
            <p style="text-align: center;"><strong>Uchylenie uchwały</strong> – każdy Właściciel w przypadku niezgodności uchwały z prawem, lub naruszenia jego interesu prawnego może zaskarżyć uchwałę w ciągu 6 tygodni od dnia jej podjęcia (jeśli uchwalono ją na zebraniu) lub w ciągu 6 tygodni od dnia powzięcia informacji o jej podjęciu (w przypadku uchwalenia z udziałem głosów zbieranych indywidualnie).</p>
            <p style="text-align: center;">&nbsp;</p>
            <p style="text-align: center;"><strong>Zebranie wspólnoty</strong> – zwoływane jest przez zarządcę przynajmniej raz w roku do&nbsp; końca I kwartału każdego roku. Na zebraniu tym przedstawione jest sprawozdanie z działalności zarządcy, rozliczenie finansowe, właściciele udzielają absolutorium zarządcy oraz uchwalają plan gospodarczy. Właściciele musza być skutecznie powiadomieni o miejscu i porządku obrad na 7 dni przed terminem zebrania.</p>
        </div>
    </div>
</div>