
@{
    ViewBag.Title = "Zespol";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<a href="@Url.Action("Index","Home")">POWRÓT</a><br /><br /><br />
<h2>Profesjonalny zespół</h2><br />
<style type='text/css'>
    .post-content #checklist-1 li:before {
        color: #ffffff !important;
        content: '\f00c'
    }
</style>
<ul id="checklist-1" class="list-icon circle-yes list-icon-ok">
 
    <li>Zatrudniamy wysokiej klasy fachowców z bogatym doświadczeniem w administrowaniu i zarządzaniu nieruchomościami. Nasz zespół to licencjonowani zarządcy nieruchomości, administratorzy z wykształceniem technicznym oraz księgowe wyspecjalizowane w rozliczaniu Wspólnot Mieszkaniowych.</li>
    <br />
    <li>Zespół doświadczonych księgowych oraz nowoczesny, rozbudowany system stworzony z myślą o nieruchomościach mieszkaniowych umożliwiają prowadzenie rzetelnej i przejrzystej rachunkowości dla każdej Wspólnoty Mieszkaniowej. Jako doświadczeni zarządcy nieruchomości dbamy także o należyty przepływ należności. Monitorujemy na bieżąco zobowiązania Wspólnoty Mieszkaniowej i jej członków, prowadzimy windykację należności od właścicieli lokali i kontrahentów, dzięki czemu nie dopuszczamy do powstania zaległości długoterminowych.</li>
    <br />
    <li>Sprawne zarządzanie nieruchomościami wymaga nie tylko znajomości przepisów i doświadczenia, ale także szerokiej wiedzy. Cały nasz zespół systematycznie podnosi kwalifikacje dzięki szkoleniom związanym z szeroką tematyką zarządzania nieruchomościami, administracji i obsługi księgowej Wspólnot Mieszkaniowych.</li>
</ul>