
@model ZarzadzanieNieruchomosciami.ViewModels.StartViewModel

@{
    ViewBag.Title = "Start";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>



    <a href="@Url.Content("~/")">
        <img id="baner" src="../Content/Images/baner.png" />
    </a>
</nav>