@model IEnumerable<ZarzadzanieNieruchomosciami.Models.Kategoria>
@using ZarzadzanieNieruchomosciami.Infrastructure

<nav class="KategorieVertical">
    <ul>
        @foreach (var kategoria in Model)
            {
            <li>
                <a href="@Url.Action("Lista","Zarzadzanie", new { nazwaKategori = kategoria.nazwaKategori.ToString() })"
                   style="background-image: url(../Content/Kategorie/aspnet.png); ">
                    <!--"background-image: url( Url.IkonyKategoriiSciezka(kategoria.NazwaPlikuIkony)); "-->
                   
                    @kategoria.nazwaKategori
                </a>
            </li>
        }
    </ul>
</nav>

