@using ZarzadzanieNieruchomosciami.Infrastructure

@{
    ViewBag.Title = "WazneTelefony";
    Layout = "~/Views/Shared/_LayoutStart.cshtml";
}

<div id="Breadcrumb">
    <img src="../Content/Images/dommaly.png" />
    <a href="link">
        @Html.MvcSiteMap().SiteMapPath()
    </a>
</div>

@*https://www.forum.wroc.pl/dokumenty/*@

<div class="content single">
    <h1 align="center">Poniżej znajduje się lista najczęściej pobieranych dokumentów</h1>
    <br /><br />
    @*<p>Dokumenty wewnetrzne (oświadczenia, formularze itp.):</p>*@

    <div class="header-news-single">
        <h1>Dokumenty wewnetrzne (oświadczenia, formularze itp.):</h1><br/>
    </div>

    <div class='file-list'><span><img src='../Content/Images/document.png' alt='Dokument' /></span><span><a href='../Content/dokumenty/dokumenty/01. Oświadczenie w sprawie danych osobowych - kontaktowych - WZÓR DRUK.pdf'>01. Oświadczenie w sprawie danych osobowych - kontaktowych - WZÓR DRUK.pdf</span>          </a><span class='download'><a href='../Content/dokumenty/dokumenty/01. Oświadczenie w sprawie danych osobowych - kontaktowych - WZÓR DRUK.pdf'>  </a></span></div> @*Pobierz*@ 
    <div class='file-list'><span><img src='../Content/Images/document.png' alt='Dokument' /></span><span><a href='../Content/dokumenty/dokumenty/02. Formularz głosowania nad uchwałami - WZÓR DRUK.pdf'>02. Formularz głosowania nad uchwałami - WZÓR DRUK.pdf</span></a><span class='download'><a href='/wp-content/uploads/docs/important/02. Formularz głosowania nad uchwałami - WZÓR DRUK.pdf'></a></span></div>
    <div class='file-list'><span><img src='../Content/Images/document.png' alt='Dokument' /></span><span><a href='../Content/dokumenty/dokumenty/03. Protokół odczytu stanu liczników - WZÓR DRUK.pdf'>03. Protokół odczytu stanu liczników - WZÓR DRUK.pdf</span></a><span class='download'><a href='/wp-content/uploads/docs/important/03. Protokół odczytu stanu liczników - WZÓR DRUK.pdf'></a></span></div>
    <div class='file-list'><span><img src='../Content/Images/document.png' alt='Dokument' /></span><span><a href='../Content/dokumenty/dokumenty/04. Oświadczenie na potrzeby złożenia deklaracji ws. wywozu śmieci - WZÓR DRUK.pdf'>04. Oświadczenie na potrzeby złożenia deklaracji ws. wywozu śmieci - WZÓR DRUK.pdf</span></a><span class='download'><a href='/wp-content/uploads/docs/important/04. Oświadczenie na potrzeby złożenia deklaracji ws. wywozu śmieci - WZÓR DRUK.pdf'> </a></span></div>
</div>
<br /><br />
<div class="header-news-single">
    <h1>Rozporządzenia, ustawy i inne:</h1><br />
</div>

<div class="content single">
    @*<div class='file-list'><span><img src='../Content/Images/document.png' alt='Dokument' /></span><span><a href='../Content/dokumenty/ustawy/Rozporządzenie zmieniające rozporządzenie w sprawie warunków technicznych, jakim powinny odpowiadać budynki.pdf'>Rozporządzenie zmieniające rozporządzenie w sprawie warunków technicznych, jakim powinny odpowiadać budynki.pdf</span><span class='download'><a href='../Content/dokumenty/ustawy/Rozporządzenie zmieniające rozporządzenie w sprawie warunków technicznych, jakim powinny odpowiadać budynki.pdf'>Pobierz</a></span></div>*@
    <div class='file-list'><span><img src='../Content/Images/document.png' alt='Dokument' /></span><span><a href='../Content/dokumenty/ustawy/Ustawa - Kodeks cywilny.pdf'>Ustawa - Kodeks cywilny.pdf</span></a></span><span class='download'><a href='../Content/dokumenty/ustawy/Ustawa - Kodeks cywilny.pdf'></a></span></div>
    <div class='file-list'><span><img src='../Content/Images/document.png' alt='Dokument' /></span><span><a href='../Content/dokumenty/ustawy/Ustawa - Prawo budowlane.pdf'>Ustawa - Prawo budowlane.pdf</span></a></span><span class='download'><a href='../Content/dokumenty/ustawy/Ustawa - Prawo budowlane.pdf'></a></span></div>
    <div class='file-list'><span><img src='../Content/Images/document.png' alt='Dokument' /></span><span><a href='../Content/dokumenty/ustawy/Ustawa - Prawo o miarach.pdf'>Ustawa - Prawo o miarach.pdf</span></a></span><span class='download'><a href='../Content/dokumenty/ustawy/Ustawa - Prawo o miarach.pdf'></a></span></div>
    <div class='file-list'><span><img src='../Content/Images/document.png' alt='Dokument' /></span><span><a href='../Content/dokumenty/ustawy/Ustawa o gospodarce nieruchomościami.pdf'>Ustawa o gospodarce nieruchomościami.pdf</span></a></span><span class='download'><a href='../Content/dokumenty/ustawy/Ustawa o gospodarce nieruchomościami.pdf'></a></span></div>
    <div class='file-list'><span><img src='../Content/Images/document.png' alt='Dokument' /></span><span><a href='../Content/dokumenty/ustawy/Ustawa o własności lokali.pdf'>Ustawa o własności lokali.pdf</span></a></span><span class='download'><a href='../Content/dokumenty/ustawy/Ustawa o własności lokali.pdf'></a></span></div>
</div>



