@model IEnumerable<ZarzadzanieNieruchomosciami.Models.Dokument>
@using ZarzadzanieNieruchomosciami.Infrastructure

@{
    ViewBag.Title = "Dokumenty";
    Layout = "~/Views/Shared/_LayoutStart.cshtml";
}

<div id="Breadcrumb">
    <img src="../Content/Images/dommaly.png" />
    <a href="link">
        @Html.MvcSiteMap().SiteMapPath()
    </a>
</div>



<div id="SekcjaListaKategori">

    <ul class="KursyTrzyKolumny MalaListaKategorii">
        @foreach (var dokument in Model)
            {
            <li>
                <article>


                    <a class="kursSzczegolyLink" href="@Url.Action("SzczegolyDokumentu", "Zarzadzanie", new { id = dokument.DokumentID })">
                        <img class="kurs" src="../Content/Kursy/obrazekaspnet.png" />
                        <h1>
                            @dokument.NazwaDokumentu - @dokument.Adres
                        </h1>
                    </a>
                </article>
            </li>
        }
    </ul>
</div>