
@{
    ViewBag.Title = "Lista";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Lista </h2>



<div id="ListaKategoriZawartosc">
    @Html.Action("KategorieMenu")   <!--Html.MvcSiteMap().SiteMapPath()-->

    <div id="KategorieListPrawaSekcja">
        <div id="Breadcrumb">
            <img src="../Content/Images/dommaly.png" />
            <a href="link">
                Start > Asp.net                         <!--Html.MvcSiteMap().SiteMapPath()-->
            </a>

            <div id="SekcjaListaKategori">
                <!-- Html.Partial("_ZarzadzanieList") -->

            </div>
        </div>
</div>