@model IEnumerable<ZarzadzanieNieruchomosciami.Models.LokalMieszkalny>
@using ZarzadzanieNieruchomosciami.Infrastructure

@{
    ViewBag.Title = "Lokal";
    Layout = "~/Views/Shared/_LayoutStart.cshtml";
}


    <div id="SekcjaListaKategori">
        <h2>Lista aaa</h2>
       
    </div>



