@model IEnumerable<ZarzadzanieNieruchomosciami.Models.StanLicznikow>
@using ZarzadzanieNieruchomosciami.Infrastructure

@{
    ViewBag.Title = "StanLicznikow";
    Layout = "~/Views/Shared/_LayoutStart.cshtml";
}

<div id="Breadcrumb">
    <img src="../Content/Images/dommaly.png" />
    <a href="link">
        @Html.MvcSiteMap().SiteMapPath()
    </a>
</div>



<br><br>
<b>Stan na dzień:</b> <br><br>
<table id="lokale">
    <tr class="header">

        <td>Data:</td>
        <td>Szczegóły:</td>

    </tr>
   @foreach (var licznik in Model)
            {
        <tr class="local">

            <td><center>@licznik.StanNaDzien.ToString().Substring(0, 10)</center></td>
          @*  <td>@licznik.LokalMieszkalnyID</td>*@
         <td><center> <a class="kursSzczegolyLink" href="@Url.Action("SzczegolyLicznikow", "Zarzadzanie", new { id = licznik.StanLicznikowID })"> >>kliknij<< </a></center></td>


        </tr>
    }
</table>













